
            p{
                font-size: 20px;
                color: black;
            }
            #nice{
                color:rgb(123, 123, 123);
                font-size: 15px;
            }
            .good{
                font-size: 12px;
            }
            .image{
                width:750px;
                height:auto;
            }
            
       